@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("bootstrap/dist/css/bootstrap.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin-bottom: 0;
}

@font-face {
  font-family: "Netflix", sans-serif;
  font-weight: bold;
  src: local("Netflix"), url("src\assets\fontsNetflix Sans Bold.otf") format("truetype");
}
.body {
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-family: "Netflix", sans-serif;
  width: 100%;
  height: 100vh;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 750px;
  flex-direction: column;
}
.welcome__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.welcome__title {
  color: white;
  text-align: center;
  font-family: Netflix;
  margin-bottom: 50px;
  font-size: 3.5rem;
}
.welcome__item {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.welcome__item:hover .welcome__item__image {
  border: 1px solid #ffffff;
}
.welcome__item:hover .welcome__item__text {
  color: #ffffff;
}
.welcome__item__image {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 10px;
}
.welcome__item__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #808080;
  border-radius: 100px;
  margin: 35px 35px;
}
.welcome__item__text {
  color: #808080;
  font-size: 1.3rem;
  margin-top: 10px;
  width: 100px;
}
.welcome--button {
  margin: 3.125rem auto;
  background-color: #141414;
  border: 1px solid #808080;
  width: 15.5rem;
  height: 3.125rem;
  color: #808080;
  font-size: 1.3rem;
}
.welcome--button:hover {
  margin: 3.125rem auto;
  background-color: #141414;
  border: 1px solid #ffffff;
  width: 15.5rem;
  height: 3.125rem;
  color: #ffffff;
  font-size: 1.3rem;
}

.welcome__group:hover__image--user {
  border: 5px solid #ffffff;
}
.welcome__group:hover__text--user {
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}
.header__group {
  height: 50px;
  display: flex;
  align-items: center;
}
.header__group__links {
  list-style-type: none;
  display: flex;
  margin-left: 3rem;
  align-items: center;
}
.header__group__link {
  margin: 1rem;
  color: #ffffff;
  text-decoration: none;
}
.header__group__link--profile {
  color: #000000;
  text-decoration: none;
}
.header__group--button {
  width: 150px;
  background-color: #e50914;
  color: #ffffff;
  padding: 5px 3px;
  border-style: none;
  border-radius: 3px;
  font-weight: bold;
}

.heroSection {
  font-weight: bold;
  width: 90%;
  padding-top: 14rem;
  padding-bottom: 20rem;
  margin: 0 auto;
}
.heroSection__image {
  margin: 1rem 0;
}
.heroSection__text {
  margin: 1rem 0;
  color: #ffffff;
  width: 35%;
}
.heroSection--playButton {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  font-weight: bold;
}
.heroSection--attentionButton {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.4117647059);
  border-style: none;
  color: #ffffff;
  font-weight: bold;
}

.carouselArea {
  background-color: #000000;
}

.carousel {
  width: 100%;
  height: 500px;
  padding: 2rem 0;
  text-align: center;
}
.carousel__title {
  color: #ffffff;
  margin-left: 5rem;
  padding-bottom: 3rem;
  text-align: start;
}
.carousel__item:hover .popover__content {
  z-index: 5;
  opacity: 1;
  visibility: visible;
  transition: 0.1s;
  transform: translate(0px, -3px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  width: 350px;
  height: 400px;
  border-top: 5px;
}
.carousel__item:hover .popover__content__image {
  width: 100%;
}
.carousel__item:hover {
  visibility: visible;
  transition: 0.1s;
  height: 380px;
  border-radius: 5px 5px 0px 0px;
}
.carousel__item:hover .carousel__images {
  opacity: 0;
  visibility: hidden;
}

.popover__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #141414;
  transform: translate(0, 10px);
  border-radius: 5px;
}
.popover__content:before {
  position: absolute;
  z-index: 6;
  content: "";
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__message {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  flex-direction: column;
}
.popover__ıcons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}
.popover__text {
  margin: 1rem auto;
  display: flex;
  color: #ffffff;
  z-index: 1;
}
.popover__text--match {
  margin-right: 10px;
  color: #03c03c;
}
.popover__text--age {
  padding: 0 5px;
  border: 1px solid #808080;
  color: #ffffff;
  width: 40px;
  align-items: center;
  text-align: center;
  display: flex;
  margin-right: 10px;
}
.popover__text--season {
  margin-right: 10px;
}
.popover__text--quality {
  padding-left: 7px;
  border: 1px solid #808080;
  color: #ffffff;
  width: 40px;
  align-items: center;
  text-align: center;
  display: flex;
  margin-right: 10px;
}
.popover__type {
  z-index: 1;
  color: #ffffff;
  margin: 0 auto;
}
.popover__like {
  z-index: 1;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  text-align: start;
  align-items: start;
}

.filter {
  font-size: 40px;
  margin-right: 16px;
  color: #ffffff;
  margin-left: 3rem;
  padding: 32px;
}
.filter__menu {
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
  height: 40px;
  width: 80px;
}

/*-------------------------------swiper------------------------------------------*/
.swiper-slide img {
  border-radius: 5px;
  width: 270px;
}

.footer {
  padding: 5rem 10rem;
  background-color: rgba(0, 0, 0, 0.7803921569);
  height: -moz-fit-content;
  height: fit-content;
  color: #808080;
}
.footer__group {
  width: 100%;
  display: flex;
}
.footer__group__list {
  width: 20%;
  list-style-type: none;
}

.login {
  color: #ffffff;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/5523db5a-e2b2-497f-a88b-61f175c3dbad/351323ec-5dbd-4078-a4c2-0fe04dccd586/TR-tr-20230306-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
}
.login__group {
  display: flex;
  flex-direction: column;
}
.login__area {
  width: 450px;
  height: 700px;
  margin: 10rem auto 5rem auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7803921569);
  padding: 60px 68px 40px;
}
.login__page__header {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
}

.group__input {
  height: 50px;
  background: #333;
  margin-top: 16px;
  border: none;
  color: #8c8c8c;
  padding-left: 20px;
  border-radius: 4px;
}
.group__button {
  height: 50px;
  background-color: #e50914;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 314px;
  border-style: none;
}
.group__link {
  height: 50px;
  width: 314px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.login__content {
  display: flex;
  justify-content: space-between;
}
.login__text {
  display: flex;
  justify-content: space-between;
}

.content__text {
  display: flex;
  align-items: center;
}
.content__input {
  margin: 0;
}
.content__text--gray {
  margin-top: 15px;
  margin-left: 5px;
  color: #808080;
}
.content__text--blue {
  color: #0071eb;
}
.content__text--white {
  color: #ffffff;
  margin-top: 15px;
}/*# sourceMappingURL=main.css.map */