.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;

  &__group {
    height: 50px;
    display: flex;
    align-items: center;
    &__links {
      list-style-type: none;
      display: flex;
      margin-left: 3rem;
      align-items: center;
    }
    &__link {
      margin: 1rem;
      color: $white;
      text-decoration: none;
    }
    &--button {
      width: 150px;
      background-color: $netflix-red;
      color: $white;
      padding: 5px 3px;
      border-style: none;
      @include rounded(3px);
      font-weight: bold;
    }
  }
}
