.carouselArea {
  background-color: $black;
}
.carousel {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  &__title {
    color: $white;
    margin-left: 5rem;
    text-align: start;
  }
  &__images {
    margin: 0 0.25rem;
    @include rounded(5px);
  }
  &__item {
    position: relative;
    display: inline-block;
  }
  &__item:hover .popover__content {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    height: fit-content;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  &__item:hover {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    height: 380px;
  }
  &__item:hover .carousel__images {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }
}

.popover {
  //görüntülendiğinde yakınındaki elementleri ötekilerştiriyor bunu sormam gerek!
  &__content {
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: $welcome-bg;
    transform: translate(0, 10px);
    width: auto;
    @include rounded(5px);
  }
  &__content__image {
  }
  &__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    transition-duration: 0.3s;
    transition-property: transform;
  }
  &__message {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    flex-direction: column;
  }
  &__ıcons {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
  }

  &__text {
    margin: 1rem auto;
    display: flex;
    color: $white;
    z-index: 1;
    &--match {
      margin-right: 10px;
      color: $green;
    }
    &--age {
      padding: 0 5px;
      border: 1px solid $gray;
      color: $white;
      width: 40px;
      align-items: center;
      text-align: center;
      display: flex;
      margin-right: 10px;
    }
    &--season {
      margin-right: 10px;
    }
    &--quality {
      padding-left: 7px;
      border: 1px solid $gray;
      color: $white;
      width: 40px;
      align-items: center;
      text-align: center;
      display: flex;
      margin-right: 10px;
    }
  }
  &__type {
    z-index: 1;
    color: $white;
    margin: 0 auto;
  }
  &__like {
    z-index: 1;
    color: $white;
    margin: 0 auto;
    display: flex;
    text-align: start;
    align-items: start;
  }
}
