.body {
  background-color: $welcome-bg;
  @include display;
  align-items: center;
  //font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: "Netflix", sans-serif;

  width: 100%;
  height: 100vh;
}
.welcome {
  @include display;
  @include area(750px, 750px);
  @include direction(column);
  &__list {
    @include display(flex, flex-start, flex-start);
    column-gap: 40px;
  }
  &__title {
    color: white;
    text-align: center;
    font-family: Netflix;
    margin-bottom: 50px;
    font-size: 3.5rem;
  }
  &__item {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &:hover {
      .welcome__item__image {
        border: 1px solid $white;
      }
      .welcome__item__text {
        color: $white;
      }
    }

    &__image {
      @include area(12.5rem, 12.5rem);
      @include rounded(10px);
    }
    &__icon {
      align-items: center;
      display: flex;
      justify-content: center;
      background-color: $gray;
      @include rounded(100px);
      margin: 35px 35px;
    }
    &__text {
      color: $gray;
      font-size: 1.3rem;
      margin-top: 10px;
      width: 100px;
    }
  }

  &--button {
    margin: 3.125rem auto;
    background-color: $welcome-bg;
    border: 1px solid $gray;
    @include area(15.5rem, 3.125rem);
    color: $gray;
    font-size: 1.3rem;
  }
  &--button:hover {
    margin: 3.125rem auto;
    background-color: $welcome-bg;
    border: 1px solid $white;
    @include area(15.5rem, 3.125rem);
    color: $white;
    font-size: 1.3rem;
  }
}

//hover
.welcome__group:hover {
  &__image--user {
    border: 5px solid $white;
  }
  &__text--user {
    color: $white;
  }
}

// .welcome__group__image--child:hover + .welcome__group__text--child {
//   color: white;
// }
//       !!grup hover sormam gerek!!
// .welcome__group__text--child:hover + .welcome__group__image--child {
//   border: 5px solid white;
// }

// .welcome__group__image--user:hover + .welcome__group__text--user {
//   color: white;
// }
