@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");
$Mulish: "Mulish", sans-serif;

$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;
