body {
  @include area(100%, 100vh);
  background: rgb(20, 22, 62);
  background: radial-gradient(
    circle,
    rgba(20, 22, 62, 1) 30%,
    rgba(240, 59, 122, 1) 100%
  );

  @include display;
}
.form {
  font-family: $heebo;
  @include area(730px, 750px);
  @include display;
  flex-direction: column;
  background-color: $blue;
  border-radius: 30px;
  &__title {
    color: $white;
    margin: 20px;
  }
  &__signIn {
    background-color: $pink;
    margin: 20px;
    @include area(300px, 40px);
    border-radius: 10px;
    border-style: none;
    color: $white;
    font-size: large;
  }
  &-group {
    display: flex;
    @include direction(column);
    gap: 5px;
    &__label {
      display: flex;
      color: $gray;
      justify-content: space-between;
      margin-top: 5px;
      &__link {
        color: $pink;
        text-decoration: none;
        font-size: small;
      }
      &__title {
        color: $gray;
      }
    }
    &__input {
      background-color: $darkblue;
      border: 1px $gray-50 solid;
      border-radius: 5px;
      padding: 0 1em;
      @include area(300px, 40px);
      color: $white;
      margin-bottom: 5px;
    }

    // &__name {
    //   height: 40px;
    //   background-color: $darkblue;
    //   border: 1px $gray-50 solid;
    //   border-radius: 5px;
    //   width: 300px;
    //   padding: 0 1em;
    //   margin-top: 5px;
    // }
    // &__surname {
    //   height: 40px;
    //   background-color: $darkblue;
    //   border: 1px $gray-50 solid;
    //   border-radius: 5px;
    //   width: 300px;
    //   padding: 0 1em;
    //   margin-top: 5px;
    // }
    // &__phone {
    //   height: 40px;
    //   background-color: $darkblue;
    //   border: 1px $gray-50 solid;
    //   border-radius: 5px;
    //   width: 300px;
    //   padding: 0 1em;
    //   margin-top: 5px;
    // }
    // &__email {
    //   height: 40px;
    //   background-color: $darkblue;
    //   border: 1px $gray-50 solid;
    //   border-radius: 5px;
    //   width: 300px;
    //   padding: 0 1em;
    //   margin-top: 5px;
    // }
    // &__city {
    //   height: 40px;
    //   background-color: $darkblue;
    //   border: 1px $gray-50 solid;
    //   border-radius: 5px;
    //   width: 300px;
    //   padding: 0 1em;
    //   margin-top: 5px;
    // }
    // &__district {
    //   height: 40px;
    //   background-color: $darkblue;
    //   border: 1px $gray-50 solid;
    //   border-radius: 5px;
    //   width: 300px;
    //   padding: 0 1em;
    //   margin-top: 5px;
    // }
    // &__password {
    //   height: 40px;
    //   background-color: $darkblue;
    //   border: 1px $gray-50 solid;
    //   border-radius: 5px;
    //   width: 300px;
    //   padding: 0 1em;
    //   margin-top: 5px;
    // }
  }
}
