//color
$welcome-bg: #141414;
$gray: #313132;
$white: #ffffff;
$black: #000000;
$black-90: #000000c7;
$green: #03c03c;
$gray-50: #80808069;
$netflix-red: #e50914;
$neongray: #333;
$light-gray: #313132;
$dark-gray: #1d1d1e;
$blue: #0071eb;
