.filter {
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  &__group {
    &__query {
      display: flex;
      justify-content: space-between;
      padding: 0 5rem;
      background-color: $light-gray;
      align-items: center;
      height: 50px;
      &__list {
        list-style: none;
        display: flex;
        align-items: center;
        &--icon {
          margin: 0 0.5rem;
        }
      }
      &__entry {
        display: flex;
        align-items: center;
      }
      &--input {
        height: 40px;
        padding-left: 10px;
        border-radius: 10px;
        margin-left: 15rem;
        width: 250px;
      }
      &--label {
        color: white;
        display: flex;
        align-items: center;
        margin: 0 1rem;
      }
    }
    &__result {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &--warning {
        color: $white;
        font-size: 48px;
        animation: blinker 5s linear infinite;
        @keyframes blinker {
          50% {
            opacity: 0;
          }
        }
      }
      &__item {
        width: 250px;
        height: 400px;
        color: $white;
        margin: 0 1rem 2rem 1rem;
        position: relative;
        &--title {
          font-size: 20px;
        }
        &--img {
        }
        &__box {
          display: flex;
          position: absolute;
          bottom: 0px;

          &--btn {
            padding: 3px;
            background-color: $white;
            color: $black;
            border: none;
            margin-left: 53px;
          }
        }
      }
    }
  }
}
